<dl>
<dt class="face"><img src="http://tp3.sinaimg.cn/2150636602/50/5601859611/0"></dt>
<dd class="content">
<p class="feed_list_content" > 
<span class="s_nam">龙成蛟:</span>
<em>我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?</em>
</p>
<p style="margin-top:40px;">
<span>2012年3月19日 16:30</span>
<span class="rel" >回复(10)</span>
</p>
</dd>
</dl>
<dl style="margin:10px 15px 20px 15px;">
<dt class="face"><img src="http://tp3.sinaimg.cn/2150636602/50/5601859611/0"></dt>
<dd class="content">
<p class="feed_list_content"> 
<span class="s_nam">龙成蛟:</span>
<em>我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?</em>
</p>
<p style="margin-top:40px;">
<span>2012年3月19日 16:30</span>
<span class="rel" >回复(10)</span>
</p>
<dl  class="rel_list_content">
<div class="input" style="margin:20px;">
<textarea style="width:100%;height:100px;">
</textarea>
</div>
<div class="rel_button">
<input type="submit" class="fabu" value="回复" style="background-color:#76CC00;">
</div>
<dl style="margin:10px 15px 20px 15px;">
<dt class="face"><img src="http://tp3.sinaimg.cn/2150636602/50/5601859611/0"></dt>
<dd class="content">
<p class="feed_list_content"> 
<span class="s_nam">龙成蛟:</span>
<em>我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?</em>
</p>
<p style="margin-top:40px;">
<span>2012年3月19日 16:30</span>
<span class="rel" >回复(10)</span>
</p>
</dd>
</dl>
<dl style="margin:10px 15px 20px 15px;">
<dt class="face"><img src="http://tp3.sinaimg.cn/2150636602/50/5601859611/0"></dt>
<dd class="content">
<p class="feed_list_content"> 
<span class="s_nam">龙成蛟:</span>
<em>我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?</em>
</p>
<p style="margin-top:40px;">
<span>2012年3月19日 16:30</span>
<span class="rel" >回复(10)</span>
</p>
</dd>
</dl>				
</dl>
</dd>
</dl>
<dl style="margin:10px 15px 20px 15px;">
<dt class="face"><img src="http://tp3.sinaimg.cn/2150636602/50/5601859611/0"></dt>
<dd class="content">
<p class="feed_list_content"> 
<span class="s_nam">龙成蛟:</span>
<em>我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?我测试下行不行?</em>
</p>
<p style="margin-top:40px;">
<span>2012年3月19日 16:30</span>
<span class="rel" >回复(10)</span>
</p>
</dd>
</dl>



var showmessage = function(name,msg){
	var html='';
	html+='
	<dl>
	<dt class="face"><img src="http://tp3.sinaimg.cn/2150636602/50/5601859611/0"></dt>
	<dd class="content">
	<p class="feed_list_content" > 
	<span class="s_nam">'+name+'</span>
	<em>'+msg+'</em>
	</p>
	<p style="margin-top:40px;">
	<span>2012年3月19日 16:30</span>
	<span class="rel" >回复(10)</span>
	</p>
	</dd>
	</dl>';
	
	$('.feed_list').append(html).scrollTop(+1000);
}